# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List tools for data science
- List libraries for Data Science

Some of the popular languages that Data Scientists use are:
    
    1.Python
    2.R
    3.SQL

Some of the commonly used libraries used by Data Scientists include:

    1.ggplot
    2.TensorFlow
    3.NumPy

A few Data Science Tools are:
    
| Data Science Tools |
|:--------:|
|  Jupiter notebook   |
|  IBM Watson Studio    |
|  Apache Spark   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
x = 200/60
print(f"200 minutes in hours will be: {x:.2f}")

200 minutes in hours will be: 3.33

## Author:
Ismail Elhoumam